::-webkit-scrollbar {
	width: 3px;
}

::-webkit-scrollbar-thumb {
	color: $color-green;
}

html,
body {
	font-family: $font-family;
	font-size: $font-12;

	overflow: hidden;
	background-color: $primary-color;
}

.container {
	@include container();
}
